{{- define "main" }}

<header class="page-header">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}&nbsp;</h1>
    {{- if .Description }}
    <div class="post-description">
        <!-- {{ .Description }} -->
        <p>
            🧭 &nbsp;explore posts by thematic <a href="/categories" style="text-decoration: underline">categories</a> <br> 
            📆 &nbsp;browse by date using the <a href="/archives" style="text-decoration: underline">archive</a> <br>
            🧠 &nbsp;find me on <a href="https://twitter.com/khia_johnson/" target="_blank" rel="noopener noreferrer" style="text-decoration: underline">twitter</a> and try my brain
        </p>
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        {{- partial "translation_list.html" . -}}
    </div>
    {{- end }}
</header>

<div id="searchbox">
    <input id="searchInput" autofocus placeholder="{{ .Description }}" aria-label="search" type="search">
    <ul id="searchResults" aria-label="search results"></ul>
</div>

{{- end }}{{/* end main */}}
